# <<< Pandas >>>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

## To load the documentation of Pandas library, run the codeline below!⬇️

In [ ]:
# help(pd.Series)

# Pandas Series

In [ ]:
productNames = ["PS4 Pro", "PS5 Pro", "Custom Built PC", "Laptop"]
productPrices = [400, 700, 1500, 1200]

---

If we only provide 'data' for the series, the pd.series will generate an index automatically.

In [ ]:
myWishlist = pd.Series(data=productPrices)
print(myWishlist)

0     400
1     700
2    1500
3    1200
dtype: int64

---
If we manually provide a **list of names** for index and a **list of datas** as data of pd.series, then it will align the data and index name according to the sequence of both lists.

In [ ]:
myWishlist = pd.Series(index=productNames, data=productPrices)
print(myWishlist)

PS4 Pro             400
PS5 Pro             700
Custom Built PC    1500
Laptop             1200
dtype: int64

---
We can also use a **dictionary** tomake pandas series.

In [ ]:
wishes = {"PS4 Pro":400, "PS5 Pro":700, "Custom Built PC":1500}
myWishlist2 = pd.Series(wishes)
print(myWishlist2)

PS4 Pro             400
PS5 Pro             700
Custom Built PC    1500
dtype: int64

---
We can access the value by index or by using the key in the panda series which is shown below. <br>
This gives us the felixibility to work with index or as key:value pairs.

In [ ]:
wishes = {"PS4 Pro":400, "PS5 Pro":700, "Custom Built PC":1500}
myWishlist2 = pd.Series(wishes)

print(myWishlist2.iloc[1]) # Accessing value using the index
print(myWishlist2["PS5 Pro"]) # Accessing value using the key

700
700

We can access all of the keys of a panda series using .key()

In [ ]:
print(myWishlist2.keys())

Index(['PS4 Pro', 'PS5 Pro', 'Custom Built PC'], dtype='object')

---
We can use mathematical operations with the panda series. <br>
It will do the operation to all the values of the series. <br>
The example is given below.

In [ ]:
print("Original Series:\n",myWishlist)
print("################################")
print("################################")

# Addition
print(myWishlist + 99) # Adding number
print("################################")
print(myWishlist + myWishlist2) # Adding 2 series
print("################################")
# The code returns "NaN" if it founds a key that does not exists in both panda series
# Operation does not effect the existing series

# Substraction
print(myWishlist - 99)
print("################################")
print(myWishlist - myWishlist2)
print("################################")

# Multiplication
print(myWishlist * 10)
print("################################")

# Division
print(myWishlist / 100)
print("################################")

Original Series:
 PS4 Pro             400
PS5 Pro             700
Custom Built PC    1500
Laptop             1200
dtype: int64
################################
################################
PS4 Pro             499
PS5 Pro             799
Custom Built PC    1599
Laptop             1299
dtype: int64
################################
Custom Built PC    3000.0
Laptop                NaN
PS4 Pro             800.0
PS5 Pro            1400.0
dtype: float64
################################
PS4 Pro             301
PS5 Pro             601
Custom Built PC    1401
Laptop             1101
dtype: int64
################################
Custom Built PC    0.0
Laptop             NaN
PS4 Pro            0.0
PS5 Pro            0.0
dtype: float64
################################
PS4 Pro             4000
PS5 Pro             7000
Custom Built PC    15000
Laptop             12000
dtype: int64
################################
PS4 Pro             4.0
PS5 Pro             7.0
Custom Built PC    15.0
Laptop             12.0
dtype: float64
################################

---
To avoid the "Nan" value, we can use the .add() function to add two panda series together. <br>
This will add 2 values if the keys matches. <br>
Or it will create a new key:value pair if it founds incomparable key:value pair.

In [ ]:
purchase1 = pd.Series({'Gamepad':50, 'Phone':1000, 'Laptop':1200})
purchase2 = pd.Series({'Gamepad':100, 'Phone':800, 'Desktop PC': 1500})

purchase1.add(purchase2, fill_value=0)

Desktop PC    1500.0
Gamepad        150.0
Laptop        1200.0
Phone         1800.0
dtype: float64

---

# <<< DataFrame >>>

### Introduction

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(101)
myData = np.random.randint(0,21,(4,3))
myColumns = ["January", "February", "March"]
myIndex = ["Mohammadpur", "Mirpur", "Dhanmondi", "Badda"]

# If only data is provided
my_df = pd.DataFrame(data = myData)
print(my_df)
print("###############################")

# If indexes are added
my_df = pd.DataFrame(data=myData, index=myIndex)
print(my_df)
print("###############################")

# If column names are also provided
my_df = pd.DataFrame(data=myData, index=myIndex, columns=myColumns)
print(my_df)
print("###############################")

# To get the dataframe information, we can use .info()
print(my_df.info())

    0   1   2
0  11  17   6
1  11  15   9
2  13   8   4
3   8   0  14
###############################
              0   1   2
Mohammadpur  11  17   6
Mirpur       11  15   9
Dhanmondi    13   8   4
Badda         8   0  14
###############################
             January  February  March
Mohammadpur       11        17      6
Mirpur            11        15      9
Dhanmondi         13         8      4
Badda              8         0     14
###############################
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Mohammadpur to Badda
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   January   4 non-null      int64
 1   February  4 non-null      int64
 2   March     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes
None

In [ ]:
pwd

'/content'